<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <h1>List of cars</h1>
    <ul>
        <th th:each="car : ${listCars}">
            <br>
            <a th:href="@{/cars/{id}(id=${car.getId()})}" th:text="${car}">...</a>
        </th>
    </ul>
</div>
<br>
<a href="cars/newCar">Add new car to list</a>
<br>
<br>
<a href="cars/getAmountCars">show amount cars</a>
<br>
</body>
</html>